amqp
asgiref
billiard
#cairocffi
#CairoSVG
celery
#cffi
cssselect2
defusedxml
Django
django-ckeditor
django-crispy-forms
django-debug-toolbar
django-js-asset
future
html5lib
importlib-metadata
kombu
Pillow
pycparser
PyPDF2
Pyphen
pytz
# reportlab
six
sqlparse
tinycss2
vine
webencodings
whitenoise
xhtml2pdf
zipp